<footer class="footer">
        <div class="row  justify-content-xl-between">
          <div class="col-xl-6">
            <div class="copyright text-xl-right text-muted">
              &copy; 2019 Made with a lot of <i class="fas fa-heart text-warning"></i> by <a href="#" class="font-weight-bold ml-1">Pulse Developer(s)</a>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
  
  <script src="/assets//js/plugins/jquery/dist/jquery.min.js"></script>
  <script src="/assets//js/plugins/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  
  <script src="/assets//js/plugins/chart.js/dist/Chart.min.js"></script>
  <script src="/assets//js/plugins/chart.js/dist/Chart.extension.js"></script>
  
  <script src="/assets//js/argon-dashboard.min.js?v=1.1.0"></script>
 
</body>

</html>